#card {
  height: 50vmin;
  width: 90vmin;
  background-color: white;
  background-image: url(./dog.jpg);
  background-size: cover;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
  transform-style: preserve-3d;
}
#card:before,
#card:after {
  content: "";
  position: absolute;
  display: block;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
  filter: blur(1px);
}
#card:before {
  height: 40px;
  width: 40px;
  opacity: 0.4;
  transform: translateZ(1rem);
  box-shadow: 47vmin 36vmin 0 rgb(236, 153, 153),
    35vmin 29vmin 0 rgb(236, 133, 133), 3vmin 32vmin 0 rgb(210, 109, 109),
    67vmin 43vmin 0 rgb(238, 198, 138), 12vmin 13vmin 0 rgb(240, 185, 104),
    1vmin 34vmin 0 rgb(232, 186, 118), 44vmin 47vmin 0 rgb(240, 189, 127),
    38vmin 18vmin 0 rgb(243, 228, 140), 22vmin 32vmin 0 rgb(242, 228, 125),
    2vmin 7vmin 0 rgb(244, 233, 119), 57vmin 32vmin 0 rgb(175, 214, 249),
    56vmin 8vmin 0 rgb(148, 241, 209), 85vmin 33vmin 0 rgb(110, 252, 229),
    53vmin 22vmin 0 rgb(97, 120, 245);
}
#card:after {
  height: 60px;
  width: 60px;
  transform: translateZ(3rem);
  opacity: 0.1;
  box-shadow: 30vmin 30vmin 0 rgb(249, 154, 154),
    75vmin 26vmin 0 rgb(186, 133, 247), 37vmin 36vmin 0 rgb(240, 125, 125),
    70vmin 1vmin 0 rgb(235, 144, 168), 70vmin 31vmin 0 rgb(167, 216, 255);
}

body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  perspective: 1000px;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  background: linear-gradient(to left, #092e45, #651a09);
}

*,
*:before,
*:after {
  box-sizing: border-box;
  position: relative;
}
